*{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: url("https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/1697adb8-bfb5-49b1-85c1-efde49d71052/dcxuq07-97996a2d-1833-4256-bbf5-4b979098765b.gif?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7InBhdGgiOiJcL2ZcLzE2OTdhZGI4LWJmYjUtNDliMS04NWMxLWVmZGU0OWQ3MTA1MlwvZGN4dXEwNy05Nzk5NmEyZC0xODMzLTQyNTYtYmJmNS00Yjk3OTA5ODc2NWIuZ2lmIn1dXSwiYXVkIjpbInVybjpzZXJ2aWNlOmZpbGUuZG93bmxvYWQiXX0.-EFscCgfd20S5YLV7vTF00MzWmP-IsRkEJ2ARYVcx-w");
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-size: cover;
    background-position: center;
}

.container {
    background: rgba(237, 236, 236, 0.1);
    width: 320px;
    padding: 24px;
    border-radius: 16px;
    border: solid 5px rgb(red, green, blue);
    box-shadow: 0px 0px 30px 20px rgb(0, 0, 0, 0.1);
    color:white;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.login-title {
    margin-bottom: 16px;
}

.input-box{
    display: flex;
    width:100%;
    position: relative;
    margin-top: 20px;
}

.input-box input{
    width: 100%;
    padding: 10px 16px 10px 38px;
    border-radius: 99px;
    border: solid 3px transparent;
    background: rgb(255, 255, 255, 0.1);
    outline: none;
    caret-color: white;
    color: white;
    font-weight: 500;
    transition: 0.25s;
}
.input-box input:focus {
    border: solid 3px rgb(255, 255, 255, 0.25);
}
.input-box input::placeholder {
    color: rgba(252, 252, 252, 0.75);
}
.input-box input::-ms-reveal {
    filter: invert(100%);
}
.input-box i{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 14px;
    color: rgba(190, 188, 188, 0.75);
    font-size: 18px;
    transition: 0.25;
}
.input-box input:focus + i {
    color: rgb(241, 239, 239);
}
input:hover {
    transform: translateY(-4px);
}

.login-button {
    width: 100%;
    margin-top: 24px;
    padding: 12px 50px;
    background: #565656;
    border: none;
    border-radius: 99px;
    color: rgb(249, 248, 248);
    font-weight: bold;
    font-size: 15px;
    cursor: pointer;
    outline: transparent 3px solid;
    transition: 0.1s;
}
.login-button:focus {
    outline: #fafdfd8a 3px solid;
}

button:hover {
    background-color: rgb(43, 51, 58);
    cursor: pointer;
    transform: translateY(-3px);
}
button:active {
    background-color: rgb(19, 19, 20);
    color: rgb(249, 249, 251);
}
a {
    color: rgb(11, 200, 243);
    text-decoration: none;
    margin-top: 16px;
    font-size: 14px;
    transition: 0.25s;
}
